*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f3f3f3;
}

.container .ql-editor {
	width: 21cm;
	min-height: 29.7cm;
	padding: 1cm;
	margin: 1rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
}

.container .ql-toolbar.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #f3f3f3;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media print {
	body {
		background: none;
	}

	.container .ql-editor {
		width: 21cm;
		height: 29.7cm;
		padding: 0;
		margin: 0;
		box-shadow: none;
		align-self: flex-start;
	}

	.container .ql-toolbar.ql-snow {
		display: none;
	}
}
